@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

* {
    font-family: 'Poppins','sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fffaf0;
    --second-bg-color: #ffebcd;
    --text-color: #000000;
    --main-color:#ffb6c1;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none; 
}

.sec {
    min-height: 10px;
    padding: 10rem 9% 10px;
}

span {
    color: var(--main-color);
}

.sec h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.sec img {
    border-radius: 25px;
    margin-bottom: 10rem;
    margin-top: 2rem;
    box-shadow: 0 0 20px var(--main-color);
}


.article-content h2 {
    position: absolute;
    top: 120px;
    left: 480px;
    font-size: 7rem;
    font-family: 'Tangerine', cursive;
}

.article-content .price {
    font-size: 7rem;
    position: absolute;
    left: 490px;
    top: 200px;
    color: var(--main-color);
} 

.select-menu {
    position: absolute;
    left: 490px;
    top: 350px;
    font-size: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 200px;
}

.select-menu .select-btn {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.select-btn span {
    color: var(--text-color);
}

.select-btn .icon-arrow {
    font-size: 25px;
    transition: 1s;
}

.select-btn.active .icon-arrow {
    transform: rotate(180deg);
}

.select-menu .list {
    position: absolute;
    width: 380px;
    transform: translateY(-30px);
    margin-top: 10px;
}



.list .option {
    display: flex;
    align-items: center;
    width: 200px;
    height: 55px;
    background: var(--main-color);
    padding: 0 16px;
    cursor: pointer;
    transform-origin: top;
    opacity: 0;
    transform: scale(0) translateY(-65px);
    margin-bottom: -55px;
    transition: opacity .5s ease-in-out,transform .5s ease-in-out, margin-bottom .5s ease-in-out;
    transition-delay: calc(.1s * var(--i));
}

.select-btn.active~.list .option {
    transition: opacity 1s ease-in-out, transform .5s ease-in-out, margin-bottom .2s ease-in-out;
    transition-delay: calc(.1s * var(--i));
    opacity: 1;
    transform: scale(1) translateY(0);
    margin-bottom: 0;
}

.list .option:hover {
    background: #f0a9b4;
}

.list .option:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list .option:nth-child(2) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.option .icon {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: var(--text-color);
}

.article-content .desc {
    position: absolute;
    left: 490px;
    top: 430px;
    font-size: 1.8rem;
}

.desc a {
    color: var(--main-color);
}

.desc a:hover {
    font-size: 2rem;
}

.show-popup {
    box-sizing: border-box;
    padding: 14px 14px;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    top: 320px;
    left: 720px;
}

.popup-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
}


.select-menu .popup-container .popup-box {
    width: 500px;
    background: purple;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    padding: 30px;
}

.popup-box h1 {
    color: var(--text-color);
    line-height: 1;
}

.popup-box p {
    color: var(--text-color);
    margin: 12px 0 20px;
}

.popup-box .close-btn {
    width: 100%;
    height: 45px;
    background: var(--main-color);
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);

}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5rem ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

}
